[submodule "native/Vulkan-Headers"]
	path = native/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "native/slang"]
	path = native/slang
	url = https://github.com/Exanite-GameDev/slang.git
[submodule "native/VulkanMemoryAllocator"]
	path = native/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "native/tracy"]
	path = native/tracy
	url = https://github.com/Exanite-GameDev/tracy.git
[submodule "native/freetype"]
	path = native/freetype
	url = https://github.com/Exanite-GameDev/freetype.git
[submodule "native/harfbuzz"]
	path = native/harfbuzz
	url = https://github.com/Exanite-GameDev/harfbuzz.git
[submodule "native/brotli"]
	path = native/brotli
	url = https://github.com/google/brotli.git
[submodule "native/zlib"]
	path = native/zlib
	url = https://github.com/Exanite-GameDev/zlib.git
[submodule "native/libpng"]
	path = native/libpng
	url = https://github.com/Exanite-GameDev/libpng.git
[submodule "tools"]
	path = tools
	url = https://github.com/Exanite-GameDev/Exanite.Engine.Tools.git
